<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

    <Fragment>

        <!-- Product components -->
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

            <!-- Shortcut -->
            <ComponentRef Id="StartMenuShortcut"/>
            <ComponentRef Id="PathVariable"/>
            <ComponentRef Id="FileAssociation"/>

        </ComponentGroup>

        <!-- Installed files -->
        <DirectoryRef Id="INSTALLFOLDER" FileSource="..\GoonPlusPlus\bin\Debug\net6.0\win-$(var.Platform)\">

            <Component Id="StartMenuShortcut" Guid="{37FBD386-871F-4E30-BA44-996BE99B750B}">

                <Shortcut
                        Id="StartMenuShortcut"
                        Name="Goon++"
                        Target="[INSTALLFOLDER]GoonPlusPlus.exe"
                        Directory="ProgramMenuFolder"
                        WorkingDirectory="INSTALLFOLDER"
                        Icon="logo.ico"/>

                <!-- Unique key for the component/shortcut -->
                <RegistryValue
                        Id="RegShortcutKey" Root="HKCU" Key="SOFTWARE\!(loc.ProductNameSimple)" Name="Shortcut"
                        Value="1" Type="integer" KeyPath="yes"/>

                <!-- Need to remove start menu on uninstall -->
                <RemoveFolder Id="RemoveStartMenu" Directory="InstallProgramMenuFolder" On="uninstall"/>
            </Component>

            <Component Id="PathVariable" Guid="{41909F03-B1B5-487B-8D27-02E4A5878DD4}">
                <CreateFolder/>
                <Environment
                        Id="PATH"
                        Name="PATH"
                        Value="[INSTALLFOLDER]\Scripts"
                        Permanent="no"
                        Part="last"
                        Action="set"
                        System="yes"/>
            </Component>

            <Component Id="FileAssociation" Guid="{9725F893-4528-4C38-AF69-39B4E9B399C4}">
                <File Id="GppExe" Source="$(var.BasePath)\GoonPlusPlus.exe" KeyPath="yes"/>
                <RegistryValue
                        Root="HKLM"
                        Key="SOFTWARE\Classes\GoonPlusPlus.WorkspaceConfig"
                        Name="FriendlyTypeName"
                        Value="!(loc.WkspDesc)"
                        Type="string"/>
                <ProgId Id="GoonPlusPlus.WorkspaceConfig" Description="!(loc.WkspDesc)" Icon="logo.ico" Advertise="yes">
                    <Extension Id="gpp">
                        <Verb Id="open" Command="!(loc.OpenWith)" Argument="&quot;%1&quot;"/>
                        <MIME Advertise="yes" ContentType="application/gpp" Default="yes"/>
                    </Extension>
                </ProgId>
            </Component>

        </DirectoryRef>

    </Fragment>

</Wix>
